<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="assets/css/normalize.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/img/ifing_beauty_logo.svg" alt="IFING BEAUTY" height="32">
      </a>
    </div>
  </nav>

  <div class="wrapper">

    <div class="top-banner">

    </div>

    <section class="sect02" id="section02">
      <div class="container">
        <div class="text">
          <h4>
            「TOKIO インカラミ」の毛髪強度の回復効果を大幅に引き上げた<br>
            システムトリートメント史上最高傑作。
          </h4>
          <h5><span class="dot-text">全国の選ばれたサロン</span>でしか体感できない</h5>

          <h3>「<ruby>HYPER<rt>ハイパー</rt></ruby> <ruby>INKARAMI<rt>インカラミ</rt></ruby> <ruby>HOME<rt>ホーム</rt></ruby>」</h3>
          <h4>専用集中ケアパック</h4>
          <img src="assets/img/hyper-limited-effects.webp" alt="ハイパーインカラミ" class="img-fluid">
        </div>
        <div class="text-img text-center">


        </div>

      </div>
    </section>

    <section class="sect03" id="section03">
      <div class="container">
        <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 sect03-01">
          <h2>集中ケアが必要な理由とは？</h2>
          <div class="row">
            <div class="col-md-5 element">
              <h5>毎日のシャンプー</h5>
              <div class="bottom-text">
                洗浄力の高すぎるシャンプー
              </div>
            </div>
            <div class="col-md-2 multiply">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="col-md-5 element">
              <h5>ダメージのしすぎ</h5>
              <div class="bottom-text">
                ブリーチ、カラーパーマ、縮毛矯正
                の繰り返しによるダメージ
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 sect03-02">
          <h2>お客様と美容師の想いは？</h2>
          <div class="row col-lg-10 offset-lg-1">
            <div class="col-md-6 card">
              <div class="inner">
                <h5 class="card-title">お客様</h5>
                <div class="card-body">
                  この効果と質感がもっと持続してくれたらいいな。
                </div>
              </div>
            </div>
            <div class="col-md-6 card">
              <div class="inner">
                <h5 class="card-title">美容師</h5>
                <div class="card-body">
                  サロントリートメントの効果を最大限に感じて欲しい。
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 sect03-03">
          <h2><span>HYPER INKARAMI HOME </span></h2>
          <h3>ならどちらの想いも叶えます！</h3>
          <div class="gradient-border py-3 px-4 text-center">
            <h4>
              月曜日と木曜日にご使用いただくことで、<br>
              サロンでのTOKIOハイパーインカラミ<br>トリートメントメニューの<br>
              ワンランク上仕上がり感を1ヶ月持続させます。
            </h4>
          </div>

          <div class="gradient-border py-3 px-4 text-center">
            <h4>
              持続の理由は簡単！<br>
              サロントリートメントメニューと<br>
              同じ成分を使用した、ワンランク上の<br>
              ”高濃度集中ケアパック”
            </h4>
          </div>


        </div>
      </div>
    </section>

    <section class="sect04" id="section04">
      <div class="container">
        <div class="sect04-01">
          <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <img src="assets/img/limited-three-traits.webp" alt="TOKIO ハイパーインカラミ" class="img-fluid">
          </div>
        </div>
        <hr>
        <div class="sect04-01 text-center">
          <h4 class="top">サロントリートメント<br>
            「TOKIO ハイパー インカラミ」の仕組み</h4>
          <div class="structure col-lg-8 offset-lg-2 col-md-8 offset-md-2">
            <img src="assets/img/ink.webp" alt="HYPER INKARAMI 仕組み" class="img-fluid">
            <div class="text">
              <img src="assets/img/hyper-inkarami.png" alt="HYPER INKARAMI" height="120">
              <div class="top">
                <h4>ハイパー インカラミ ホーム</h4>
              </div>
              <div class="bottom">
                サロンと同じ成分。
                キューティクルを補強・保湿し、
                質感を形成する役割を果たします。
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="sect06" id="section06">
      <div class="sect06-title">
        <h2>漫画で解説！</h2>
      </div>
      <div class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active my-auto">
              <div class="manga">
                <img src="assets/img/IMG_1546.PNG" alt="漫画１" class="img">
              </div>
            </div>
            <div class="carousel-item my-auto">
              <div class="manga">
                <img src="assets/img/IMG_1547.PNG" alt="漫画１" class="img">
              </div>
            </div>
            <div class="carousel-item my-auto">
              <div class="manga">
                <img src="assets/img/IMG_1548.PNG" alt="漫画１" class="img">
              </div>
            </div>
            <div class="carousel-item my-auto">
              <div class="manga">
                <img src="assets/img/IMG_1549.PNG" alt="漫画１" class="img">
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
              
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
              </ol>   
              
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="img-box"><img src="https://res.cloudinary.com/rfujiwar23/image/upload/v1645752052/IMG_1546.png" alt="" class=""></div>
                </div>
                    <div class="carousel-item">
                  <div class="img-box"><img src="https://res.cloudinary.com/rfujiwar23/image/upload/v1645753010/IMG_1547.png" alt="" class=""></div>
                </div>
                <div class="carousel-item">
                  <div class="img-box"><img src="https://res.cloudinary.com/rfujiwar23/image/upload/v1645752155/IMG_1548.png" alt="" class=""></div>
                </div>
                <div class="carousel-item">
                  <div class="img-box"><img src="https://res.cloudinary.com/rfujiwar23/image/upload/v1645753043/IMG_1549.png" alt="" class=""></div>
                </div>
              </div>
              
              <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div> -->
      </div>


    </section>


    <section class="sect07" id="section07">
      <div class="section-strip">
        <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
          <h2 class="no-background"><span>ご自宅での使い方</span></h2>
        </div>
      </div>
      <div class="container">
        <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 mt-5">
          <div class="row">
            <div class="steps col-lg-4 col-md-4 col-sm-6" v-for="step in steps">
              <div class="img">
                <img :src="step.imgLink" alt="TOKIO HYPER INKARAMI HOME" class="img-fluid">
              </div>
              <div class="text">
                <h4><span>{{step.id}}</span></h4>
                <div class="inner-text">
                  <p>{{step.stepText}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3>あとは乾かすだけで<br>サロンで体感した時と同じ質感艶感が回復！！</h3>
        <div class="col-lg-10 offset-lg-1">
          <div class="row">
            <div class="col-3" v-for="picture in pictures">
              <img :src="picture.imgLink" alt="picture.altText" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="sect08" id="section08">
      <div class="container">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center my-5">
          <h3>さらに、「TOKIO IE HYPER INKARAMI」
            を合わせて使用すると効果実感アップ。</h3>
          <h3>このシリーズは選ばれたサロンの
            店舗でしか手に入らない</h3>
        </div>
        <img src="assets/img/009-hyper-inkarami-products.webp" alt="HYPER INKARAMI" class="img-fluid">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center">
          <h4>「TOKIO ハイパー インカラミ」のノウハウを取り入れた
            ”化学反応するシャンプー・トリートメント”</h4>
          <p>それによって、</p>
          <h4>”ご自宅でサロンケアをする”という新発想で、
            新しいヘアケアの常識をご提案します。</h4>
        </div>
      </div>
    </section>

    <section class="sect09">

      <div class="container" id="section09">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <div class="row section05-manga">
            <div class="col-6"><img src="assets/img/section05-01.jpg" alt="" class="img-fluid"></div>
            <div class="col-6 quote">
              <div class="text">
                <p>
                  TOKIOトリートメントやってるお店はたくさんあるけど、
                </p>
              </div>
            </div>
          </div>
          <div class="row section05-manga">
            <div class="col-6 quote">
              <div class="text">
                <p>
                  実は私も前回と今回で持続が違う！やっぱりホームケアも大切
                </p>
              </div>
            </div>
            <div class="col-6"><img src="assets/img/section05-02.jpg" alt="" class="img-fluid"></div>
          </div>
        </div>
        <h4>実は、トキオインカラミトリートメント成功サロンは</h4>
        <!-- font awesome arrow goes down here -->
        <h4>必ず『トキオインカラミトリートメント＋TOKIO HOME付』
          を実施しています。</h4>
        <h3 class="text-center mb-5">そんなサロンはこちら↓↓↓</h3>
        <div class="row col-lg-8 offset-lg-2 col-md-10 offset-md-1 reserve">
          <div class="col-sm-6" v-for="salon in salonType">
            <div class="link-to">
              <div class="text-area">
                <a :href="salon.link">{{salon.text}}へ</a>
              </div>
              <img :src="salon.img" :alt="salon.text" class="img-fluid">
            </div>
          </div>
        </div>
        <h4>いつも来店されてるサロンも紹介されてますよ！！</h4>
      </div>

    </section>



    <section class="sect10" id="section10">
      <div class="section-strip">
        <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
          <h2 class="no-background"><span>更に「イエでインカラミする毎日」のケアは</span></h2>
        </div>
      </div>
      <div class="container">
        <div class="section10-01">
          <h3>週2回のTOKIO HOMEと<br>
            毎日のTOKIO IEシャンプートリートメントで<br>
            「イエでもインカラミ体験」</h3>
          <div class="row pics">
            <!-- <div class="col-6 col-sm-6" v-for="pic in tokiopics">
                  <img :src="pic.imgLink" :alt="image.altText">
                </div> -->
            <div class="col-6 col-sm-6">
              <img src="assets/img/tokio_bg001.png" class="img-fluid" alt="TOKIO HYPER INKARAMI">
            </div>
            <div class="col-6 col-sm-6">
              <img src="assets/img/tokio_bg002.png" class="img-fluid" alt="TOKIO HYPER INKARAMI">
            </div>
          </div>
        </div>

        <div class="to-link">
          <a href="https://ifing-beauty.com/">詳しくはこちら</a>
        </div>

        <div class="video-area mt-4 py-2 px-4">
          <div class="embed-responsive embed-responsive-16by9">
            <video controls controlsList="nodownload" autoplay muted
              src="assets/img/video/ocean-tokyo-takagi.mp4"></video>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>Copyright &copy; IFING Co., Ltd.
          <script>document.write(new Date().getFullYear())</script>
        </p>
      </div>
    </footer>

  </div>
</body>

<script>
  var example1 = new Vue({
    el: '#section07',
    data: {
      steps: [
        { id: 1, imgLink: 'assets/img/sect08-001.webp', stepText: 'シャンプー後に水分をしっかり切る' },
        { id: 2, imgLink: 'assets/img/sect08-002.webp', stepText: '3センチ程の量を手のひらに出し、クリーム状に白くなるまでしっかり伸ばす' },
        { id: 3, imgLink: 'assets/img/sect08-003.webp', stepText: '中間から毛先中心にしっかりと馴染ませる。※5分程放置するとより効果的に。' },
        { id: 4, imgLink: 'assets/img/sect08-004.webp', stepText: 'ぬめりが取れるまでしっかりすすぐ' },
      ],
      pictures: [
        { imgLink: 'assets/img/sect08-001.webp', altText: 'TOKIO INKARAMI HYPER' },
        { imgLink: 'assets/img/sect08-002.webp', altText: 'TOKIO INKARAMI HYPER' },
        { imgLink: 'assets/img/sect08-003.webp', altText: 'TOKIO INKARAMI HYPER' },
        { imgLink: 'assets/img/sect08-004.webp', altText: 'TOKIO INKARAMI HYPER' },
      ]
    }
  })
</script>
<script src="assets/js/section09.js"></script>

</html>