.br_on500 {
  display: none;
}

.top-banner {
  padding-top: 43.75%;
  background: url("../img/hyper-banner.png") no-repeat;
  background-position: center;
  background-size: cover;
}

section .section-strip {
  background: #c6c6c6;
  background: linear-gradient(0deg, #fdde83 0%, #ffecbf 100%);
  padding: 20px 0;
}
section .section-strip h2.no-background {
  position: relative;
  overflow: hidden;
  font-size: 1.25em;
}
section .section-strip h2.no-background span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
  color: #000;
}
section .section-strip h2.no-background span:before, section .section-strip h2.no-background span:after {
  content: "";
  display: block;
  width: 1000px;
  position: absolute;
  top: 0.73em;
  border-top: 1px solid #000000;
}
section .section-strip h2.no-background span:before {
  right: 100%;
}
section .section-strip h2.no-background span:after {
  left: 100%;
}

.sect02 .container {
  background: linear-gradient(rgba(255, 242, 242, 0.8), rgba(255, 255, 255, 0.6)), url(../img/stylists-img.png) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
}
.sect02 .container .text {
  width: 90%;
  margin: 3vh auto;
  background: rgba(122, 122, 122, 0.5);
  text-align: center;
  padding: 3vh 2vw;
}
.sect02 .container .text h4 {
  line-height: 2em;
}
.sect02 .container .text h5 {
  font-size: 1.75em;
  letter-spacing: 4px;
  line-height: 2;
  font-weight: bold;
}
.sect02 .container .text h5 .dot-text {
  text-emphasis: filled;
  -webkit-text-emphasis: filled;
}
.sect02 .container .text h3 {
  font-size: 3em;
  color: #fff;
  text-shadow: 0 0 2px #000;
  letter-spacing: 2px;
}
.sect02 .container .text h3 ruby > rt {
  color: #000;
  text-shadow: none;
}

.sect03 {
  padding: 8vh 0;
}
.sect03 .container .sect03-01 h2 {
  text-align: center;
}
.sect03 .container .sect03-01 .element {
  background: #c0c0c0;
  padding: 10px 15px;
}
.sect03 .container .sect03-01 .element h5 {
  color: #fff;
  text-align: center;
  background: #545454;
  padding: 5px 0;
}
.sect03 .container .sect03-01 .element .bottom-text {
  text-align: center;
  font-size: 0.9em;
  height: 100%;
}
.sect03 .container .sect03-01 .multiply {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}
.sect03 .container .sect03-02 {
  margin: 6vh auto;
}
.sect03 .container .sect03-02 h2 {
  text-align: center;
  padding-bottom: 3px;
}
.sect03 .container .sect03-02 .card {
  padding: 10px 20px;
  border-radius: 0;
  border: none;
}
.sect03 .container .sect03-02 .card .inner {
  width: 95%;
  margin: 2vh auto;
  height: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);
}
.sect03 .container .sect03-02 .card .inner h5 {
  text-align: center;
  background: blue;
  padding: 10px;
  color: #fff;
}
.sect03 .container .sect03-02 .card .inner .card-body {
  padding: 10px;
  font-size: 0.9em;
  text-align: center;
}
.sect03 .container-fluid .sect03-03 h2 {
  color: #fff;
  text-shadow: 0 0 3px black;
  font-size: 3em;
  text-align: center;
  letter-spacing: 5px;
  background: #ffecbf;
}
.sect03 .container-fluid .sect03-03 h3 {
  text-align: center;
}
.sect03 .container-fluid .sect03-03 .gradient-border {
  --border-width: 2px;
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 4vh auto 0;
  font-size: 2.5rem;
  color: #fff;
  background: #201f1f;
  border-radius: var(--border-width);
}
.sect03 .container-fluid .sect03-03 .gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #c5c809, #a2951a, #e9d99b, #ef5315, #dccb32, gray);
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}
.sect03 .container-fluid .sect03-03 .gradient-border h4 {
  line-height: 2em;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.sect03 .container-fluid .circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #fff;
  font-size: 2em;
  text-align: center;
}
.sect03 .container-fluid .circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #242424;
  content: "";
}
.sect03 .container-fluid .circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sect03 .container-fluid .circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.sect03 .container-fluid .circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

.sect04 .container .sect04-01 {
  margin: 4vh auto;
}
.sect04 .container .sect04-01 h4.top {
  text-decoration: underline;
  margin: 8vh auto;
}
.sect04 .container .sect04-01 .structure .text {
  width: 100%;
  max-width: 480px;
  margin: 0 auto 6vh;
  position: relative;
  border: 3px dashed #ed1c24;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.6);
}
.sect04 .container .sect04-01 .structure .text img {
  position: absolute;
  left: -7%;
  transform: rotate(-10deg);
}
.sect04 .container .sect04-01 .structure .text .top {
  background: blanchedalmond;
  padding: 10px 0;
}
.sect04 .container .sect04-01 .structure .text .top h4 {
  font-size: 1.5em;
  text-decoration: underline;
}
.sect04 .container .sect04-01 .structure .text .bottom {
  padding: 3vh 20px;
  background: #fff9ee;
  line-height: 1.5em;
}

.sect06 {
  height: 100%;
  position: relative;
}
.sect06 .section-strip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.sect06 .sect06-title {
  position: absolute;
  top: 6%;
  left: 5%;
  transform: rotate(-15deg);
  z-index: 8;
}
.sect06 .sect06-title h2 {
  color: #bb1e1e;
  background: white;
  padding: 5px 10px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.8);
}
.sect06 .container {
  padding: 40px 0;
}
.sect06 .container .manga {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect06 .container .manga img {
  max-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sect07 {
  padding-bottom: 5vh;
}
.sect07 .section-strip {
  background: #c6c6c6;
  background: linear-gradient(0deg, #fdde83 0%, #ffecbf 100%);
  padding: 20px 0;
}
.sect07 .section-strip h2.no-background {
  position: relative;
  overflow: hidden;
  font-size: 1.25em;
}
.sect07 .section-strip h2.no-background span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
  color: #000;
}
.sect07 .section-strip h2.no-background span:before, .sect07 .section-strip h2.no-background span:after {
  content: "";
  display: block;
  width: 1000px;
  position: absolute;
  top: 0.73em;
  border-top: 1px solid #000000;
}
.sect07 .section-strip h2.no-background span:before {
  right: 100%;
}
.sect07 .section-strip h2.no-background span:after {
  left: 100%;
}
.sect07 .container-fluid .steps {
  display: flex;
  flex-wrap: wrap;
}
.sect07 .container-fluid .steps .content {
  height: 100%;
  background: #ecd5b5;
  padding: 10px 15px 10px;
  color: #000000;
  position: relative;
}
.sect07 .container-fluid .steps .content h2 {
  position: absolute;
  top: 0;
  right: 5%;
  color: #fff;
  text-shadow: 1px 1px 3px #0c0a00;
}
.sect07 .container-fluid .steps .content p {
  padding: 5px 10px;
}
.sect07 .container-fluid .steps [class*=col-] {
  margin-bottom: 30px;
}
.sect07 .container-fluid .bottom {
  padding: 4vh 0;
}
.sect07 .container-fluid .bottom h3 {
  margin: 3vh 0 5vh;
  line-height: 2em;
}

.sect08 .container .hyperInkarami01 h3 {
  font-size: 2em;
  line-height: 2em;
}
.sect08 .container .hyperInkarami01 h3 span {
  font-size: 1.25em;
}
.sect08 .container .hyperInkarami02 {
  padding-bottom: 3vh;
}
.sect08 .container .hyperInkarami02 h4 {
  font-size: 2em;
  line-height: 2em;
}
.sect08 .container .hyperInkarami02 p {
  font-size: 2em;
  line-height: 2em;
}

.sect09 {
  background: #aaaaaa;
}
.sect09 #section09 {
  padding: 12vh 0;
  background: #fff;
}
.sect09 #section05-01 {
  text-align: center;
  margin: 4vh auto;
  font-size: 2em;
}
.sect09 .container .section05-manga .quote {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect09 .container .section05-manga .quote .text {
  background: rgba(122, 122, 122, 0.7);
  border-bottom: 3px solid #545454;
}
.sect09 .container .section05-manga .quote .text p {
  padding: 20px;
  color: #fff;
  margin-bottom: 0;
  font-family: "Klee One", cursive;
}
.sect09 .container h4 {
  text-align: center;
  margin: 4vh 0;
  line-height: 2em;
}
.sect09 .container .text-area {
  display: none;
}
.sect09 .container .link-to {
  position: relative;
}
.sect09 .container .link-to img {
  border-radius: 10px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.33);
}
.sect09 .container .link-to:hover > .text-area {
  display: block;
  background: rgba(122, 122, 122, 0.33);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect09 .container .link-to:hover > .text-area a {
  color: #fff;
}
.sect09 .container .reserve {
  margin: 8vh auto;
}

.sect10 {
  background: #bdb4ab;
  padding: 4vh 0;
}
.sect10 .section-strip {
  background: #c6c6c6;
  background: linear-gradient(0deg, #fdde83 0%, #ffecbf 100%);
  padding: 20px 0;
}
.sect10 .section-strip h2.no-background {
  position: relative;
  overflow: hidden;
  font-size: 1.25em;
}
.sect10 .section-strip h2.no-background span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
  color: #000;
}
.sect10 .section-strip h2.no-background span:before, .sect10 .section-strip h2.no-background span:after {
  content: "";
  display: block;
  width: 1000px;
  position: absolute;
  top: 0.73em;
  border-top: 1px solid #8a7c71;
}
.sect10 .section-strip h2.no-background span:before {
  right: 100%;
}
.sect10 .section-strip h2.no-background span:after {
  left: 100%;
}
.sect10 .section10-01 {
  margin: 5vh auto;
  text-align: center;
}
.sect10 .section10-01 h3 {
  line-height: 2em;
  font-family: "Klee One", cursive;
}
.sect10 .section10-01 .pics {
  width: 75%;
  margin: 0 auto;
}
.sect10 .to-link {
  margin-top: 5vh;
  text-align: center;
  padding: 5px 10px;
}
.sect10 .to-link a {
  background: #8a7c71;
  border-radius: 5px;
  background: linear-gradient(60deg, #8a7c71 0%, #b49f8c 100%);
  color: #fff;
  padding: 10px 20px;
  font-size: 1.5em;
}
.sect10 .to-link a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.66);
  background: #e4e2e0;
  background: linear-gradient(60deg, #e4e2e0 0%, #dac1a9 100%);
}
.sect10 .video-area {
  width: 75%;
  margin: 0 auto 3vh;
}
.sect10 .video-area video {
  width: 100% !important;
  height: auto !important;
}

footer {
  background: #0c0a00;
  padding: 3vh 0;
}
footer .container {
  text-align: center;
  color: #fff;
}
footer .container p {
  margin-bottom: 0;
}
footer .container .to-links ul {
  padding: 0;
}
footer .container .to-links ul li a {
  color: #fff;
  font-size: 0.8em;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .sect02 .container {
    width: 100%;
    max-width: 992px;
  }
  .sect02 .container .text {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .sect10 .container {
    width: 100%;
    max-width: 768px;
  }
  .sect10 .container .section10-01 .pics {
    width: 100%;
  }
  .sect10 .container .video-area {
    width: 100%;
  }
  .sect10 .container h3 {
    margin: 3vh 0 4vh;
  }
}
@media screen and (max-width: 576px) {
  html, body {
    overflow-x: hidden;
  }

  .top-banner {
    padding-top: 56.75%;
  }

  .sect08 .container .hyperInkarami02 h4, .sect08 .container .hyperInkarami02 p {
    font-size: 1.5em;
  }

  .sect10 .container h3 {
    font-size: 1.25em;
    margin: 3vh 0 4vh;
  }
}
@media screen and (max-width: 500px) {
  .br_on500 {
    display: block;
  }
}
@media screen and (max-width: 428px) {
  .sect02 .container .text h3 {
    font-size: 1.5em;
  }
  .sect02 .container .text h4 {
    font-size: 1em;
  }
  .sect02 .container .text h5 {
    font-size: 1.1em;
    letter-spacing: 2px;
  }

  .sect03 .container-fluid .sect03-03 .gradient-border h4 {
    font-size: 0.4em;
  }
  .sect03 .container-fluid .circle__content {
    font-size: 0.6em;
  }

  .sect07 .container-fluid .bottom h3 {
    font-size: 1.25em;
  }

  .sect08 .container .hyperInkarami01 h3 {
    font-size: 1.25em;
  }
  .sect08 .container .hyperInkarami02 h4, .sect08 .container .hyperInkarami02 p {
    font-size: 1.25em;
  }

  .sect09 .container h4 {
    font-size: 1.1em;
  }

  .sect10 .section-strip h2.no-background {
    font-size: 0.9em;
  }
  .sect10 .container h3 {
    font-size: 1.1em;
    margin: 3vh 0 4vh;
  }
}
@media screen and (max-width: 390px) {
  .sect02 .container .text h3 {
    font-size: 1.25em;
  }
  .sect02 .container .text h4 {
    font-size: 0.9em;
  }
  .sect02 .container .text h5 {
    font-size: 1em;
    letter-spacing: 2px;
  }

  .sect03 .container-fluid .sect03-03 .gradient-border h4 {
    font-size: 0.4em;
  }
  .sect03 .container-fluid .circle__content {
    font-size: 0.6em;
  }

  .sect07 .container-fluid .bottom h3 {
    font-size: 1.25em;
  }

  .sect08 .container .hyperInkarami01 h3 {
    font-size: 1.25em;
  }
  .sect08 .container .hyperInkarami02 h4, .sect08 .container .hyperInkarami02 p {
    font-size: 1.25em;
  }

  .sect09 .container h4 {
    font-size: 1.1em;
  }

  .sect10 .section-strip h2.no-background {
    font-size: 0.9em;
  }
  .sect10 .container h3 {
    font-size: 1.1em;
    margin: 3vh 0 4vh;
  }
}

/*# sourceMappingURL=index.css.map */
