$limited-light: rgb(189,180,171);





.top-banner {
    padding-top:43.75%;
    background: url('../img/hyper-banner.png') no-repeat;
    background-position:center;
    background-size: cover;
}


.sect02 {
   .container {
    aspect-ratio: 900/515;
    background:linear-gradient(rgba(242, 242, 242, 0.8),rgba(255, 255, 255, 0.4)), url(../img/stylists-img.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding:20px;
   }
    .text {
        width:80%;
        margin:3vh auto;
        background:rgba(122, 122, 122,0.33);
        text-align: center;
        padding:3vh 2vw;
       
        h4 {
            line-height:2em;
        }
        h5 {
            font-size: 1.75em;
            letter-spacing: 4px;
            line-height: 2;
            font-weight: bold;
            .dot-text {
                text-emphasis: filled;
                -webkit-text-emphasis: filled;
            }
        }
        h3 {
            font-size:3em;
            color:#fff;
            text-shadow: 0 0 1px #000;
            letter-spacing: 2px;
        }
    }
}

.sect06 {
    height:100%;
    // height:calc(100vh - 62.5px);
    background:rgb(143, 143, 230);
    position:relative;
    .sect06-title {
        position: absolute;
        top:6%;
        left:5%;
        transform: rotate(-15deg);
        z-index: 8;
        h2 {
            color:rgb(187, 30, 30);
            background:rgb(255,255,255);
            padding:5px 10px;
            box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.8);
        }
    }
    .container-fluid {
        padding:40px 0;
        .carousel {
            // height:100%;
            .carousel-item {
                // height:calc(100vh - 62.5px);
                .manga {
                    // width:60%;
                    // min-height:75vh;
                    
                    margin:0 auto;
                    // padding:30px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // position: relative;
                    img {
                        max-height:calc(100vh - 80px);
                        display: flex;
                    align-items: center;
                    justify-content: center;
                    }
                }
            }
        }
    }
}

.sect07 {
    padding-bottom:10vh;
    background:rgb(236, 213, 181);
    .section-strip {
        background: rgb(198,198,198);
        background: linear-gradient(0deg, rgba(198,198,198,1) 0%, rgba(140,138,145,1) 100%);
        padding:20px 0;
        h2.no-background {
            position: relative;
            overflow: hidden;
            font-size:1.25em;
            span {
                display: inline-block;
                vertical-align: baseline;
                zoom: 1;
                *display: inline;
                *vertical-align: auto;
                position: relative;
                padding: 0 20px;
                color:#fff;
        
                &:before, &:after {
                    content: '';
                    display: block;
                    width: 1000px;
                    position: absolute;
                    top: 0.73em;
                    border-top: 1px solid #ffffff;
                }
        
                &:before { right: 100%; }
                &:after { left: 100%; }
            }
        }
    }
    .container {
        .steps {
            .text {
                h4 {
                    color:red;
                }
                p {
                    color:blue;
                }
            }
        }
        h3 {
            text-align: center;
            margin:8vh auto;
        }
    }
}

.sect08 {

}

.sect09 {
    background:rgb(170, 170, 170);
    #section09 {
        padding:12vh 0;
        background:#fff;
    }
    #section05-01 {
        text-align: center;
        margin:4vh auto;
        font-size: 2em;
    }
    .container {
        .section05-manga {
            .quote {
                display: flex;
                align-items: center;
                justify-content: center;
                .text {
                    background:rgba(122, 122, 122,0.7);
                    border-bottom:3px solid #545454;
                    p {
                        padding:20px;
                        color:#fff;
                        margin-bottom:0;
                    }
                }
                
            }
        }
        h4 {
            text-align: center;
            margin:4vh 0;
        }
        .text-area {
            display:none;
        }
        .link-to {
            position:relative;
            img {
                border-radius: 10px;
                box-shadow: 1px 3px 6px rgba(0,0,0,0.33);
            }
            &:hover > .text-area {
                display: block;
                background:rgba(122, 122, 122,0.33);
                position:absolute;
                top:0;
                left:0;
                height:100%;
                width:100%;
                border-radius: 10px;
                margin-top:auto;
                margin-bottom:auto;
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    color:#fff;
                }
            }
        }
        .reserve {
            margin:8vh auto;
        }
        
    }
    
}




.sect10 {
    background:$limited-light;
    .section-strip {
        background: rgb(198,198,198);
        background: linear-gradient(0deg, rgba(198,198,198,1) 0%, rgba(140,138,145,1) 100%);
        padding:20px 0;
        h2.no-background {
            position: relative;
            overflow: hidden;
            font-size:1.25em;
            span {
                display: inline-block;
                vertical-align: baseline;
                zoom: 1;
                *display: inline;
                *vertical-align: auto;
                position: relative;
                padding: 0 20px;
                color:#fff;
        
                &:before, &:after {
                    content: '';
                    display: block;
                    width: 1000px;
                    position: absolute;
                    top: 0.73em;
                    border-top: 1px solid #ffffff;
                }
        
                &:before { right: 100%; }
                &:after { left: 100%; }
            }
        }
    }
    .section10-01 {
        margin:5vh auto;
        text-align: center;
        h3 {
            line-height: 2em;
            font-family: 'Klee One', cursive;
        }
        .pics {
            width:75%;
            margin:0 auto;
        }
    }
    .to-link {
        margin-top:5vh;
        text-align: center;
        padding:5px 10px;
        // background:red;
        a {
            background: rgb(138,124,113);
            border-radius: 5px;
            background: linear-gradient(60deg, rgba(138,124,113,1) 0%, rgba(180,159,140,1) 100%);
            color:#fff;
            padding:10px 20px;
            font-size: 1.5em;
            &:hover {
                text-decoration: underline;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.66);
                background: rgb(228,226,224);
                background: linear-gradient(60deg, rgba(228,226,224,1) 0%, rgba(218,193,169,1) 100%);
            }
        }
    }
    .video-area {
        width:75%;
        margin:0 auto 3vh;
        video {
            width: 100% !important;
            height: auto !important;
        }
    }
}

footer {
    background:rgb(12, 10, 0); 
    padding:3vh 0;
    .container {
        text-align: center;
        color:#fff;
        p {
            margin-bottom:0;
        }
    }
}