$limited-light: rgb(189,180,171);
$hyper-black: rgb(32,31,31);





.top-banner {
    padding-top:43.75%;
    background: url('../img/hyper-banner.png') no-repeat;
    background-position:center;
    background-size: cover;
}

section {
    .section-strip {
        background: rgb(198,198,198);
        background: linear-gradient(0deg, #fdde83 0%, #ffecbf 100%);
        padding:20px 0;
        h2.no-background {
            position: relative;
            overflow: hidden;
            font-size:1.25em;
            span {
                display: inline-block;
                vertical-align: baseline;
                zoom: 1;
                *display: inline;
                *vertical-align: auto;
                position: relative;
                padding: 0 20px;
                color:#000;
        
                &:before, &:after {
                    content: '';
                    display: block;
                    width: 1000px;
                    position: absolute;
                    top: 0.73em;
                    border-top: 1px solid #000000;
                }
        
                &:before { right: 100%; }
                &:after { left: 100%; }
            }
        }
    }
}


.sect02 {
   .container {
    // aspect-ratio: 900/515;
    background:linear-gradient(rgba(255, 242, 242, 0.8),rgba(255, 255, 255, 0.6)), url(../img/stylists-img.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding:20px;
    .text {
        width:80%;
        margin:3vh auto;
        background:rgba(122, 122, 122,0.33);
        text-align: center;
        padding:3vh 2vw;
       
        h4 {
            line-height:2em;
        }
        h5 {
            font-size: 1.75em;
            letter-spacing: 4px;
            line-height: 2;
            font-weight: bold;
            .dot-text {
                text-emphasis: filled;
                -webkit-text-emphasis: filled;
            }
        }
        h3 {
            font-size:3em;
            color:#fff;
            text-shadow: 0 0 2px #000;
            letter-spacing: 2px;
            ruby > rt {
                color:#000;
                text-shadow: none;
            }
        }
    }
   }
    
}

.sect03 {
    padding:8vh 0;
    .container {
        .sect03-01 {
            h2 {
                text-align: center;
            }
            .element {
                background:#c0c0c0;
                padding:10px 15px;
                h5 {
                    color:#fff;
                    text-align: center;
                    background: #545454;
                    padding:5px 0;
                }
                .bottom-text {
                    text-align: center;
                    font-size: 0.9em;
                    
                    height: 100%;
                }
            }
            .multiply {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3em;
                
            }
        }
        .sect03-02 {
            margin:6vh auto;
            h2 {
                text-align: center;
                padding-bottom:3px;
            }
            .card {
                padding:10px 20px;
                border-radius: 0;
                border:none;
                
               .inner {
                   width:95%;
                   margin:4vh auto;
                   height: 100%;
                //    border:1px solid #545454;
                   box-shadow: 1px 1px 3px rgba(0,0,0,0.33);
                h5 {
                    text-align: center;
                    background:blue;
                    padding:10px;
                    color:#fff;
                }
                .card-body {
                    padding:10px;
                    font-size: 0.9em;
                    color:red;
                    text-align: center;
                }
               }
            }
        }
        .sect03-03 {
            h2 {
                color:#fff;
                text-shadow: 0 0 3px rgb(0,0,0);
                font-size: 3em;
                text-align: center;
                letter-spacing: 5px;
                background: #ffecbf;
            }
            h3 {
                text-align: center;

            }
            .gradient-border {
                --border-width: 2px;
              
                position: relative;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                width:100%;
                max-width:640px;
                margin:8vh auto;
                font-size: 2.5rem;
                color: #fff;
                background: rgb(32,31,31);
                
                border-radius: var(--border-width);
              
                &::after {
                  position: absolute;
                  content: "";
                  top: calc(-1 * var(--border-width));
                  left: calc(-1 * var(--border-width));
                  z-index: -1;
                  width: calc(100% + var(--border-width) * 2);
                  height: calc(100% + var(--border-width) * 2);
                  background: linear-gradient(
                    60deg,
                    hsl(61, 91%, 41%),
                    hsl(54, 72%, 37%),
                    hsl(48, 64%, 76%),
                    hsl(17, 87%, 51%),
                    hsl(54, 71%, 53%),
                    hsl(0, 0%, 50%),
                  );
                  background-size: 300% 300%;
                  background-position: 0 50%;
                  border-radius: calc(2 * var(--border-width));
                  animation: moveGradient 4s alternate infinite;
                }
                h4 {
                    line-height: 2em;
                }

              }
              
              @keyframes moveGradient {
                50% {
                  background-position: 100% 50%;
                }
              }        
        }
    }
}

.sect04 {
    .container {
        .sect04-01 {
            margin:4vh auto;
            h4.top {
                text-decoration: underline;
                margin:8vh auto;
            }
            .structure {
                .text {
                    width:100%;
                    max-width: 480px;
                    margin:0 auto 6vh;
                    position:relative;
                    border:3px dashed rgb(237, 28, 36);
                    box-shadow: 1px 3px 5px rgba(0,0,0,0.6);
                    img {
                        position:absolute;
                        left:-7%;
                        transform: rotate(-10deg);
                    }    
                    .top {
                        background:blanchedalmond;
                        padding:10px 0;
                        h4 {
                            font-size: 1.5em;
                            text-decoration: underline;
                        }
                    }
                    .bottom {
                        // background:red;
                        padding:3vh 20px;
                        background:rgb(255,249,238);
                        line-height: 1.5em;
                    }
                }
            }

        }
    }
}

.sect06 {
    height:100%;
    // height:calc(100vh - 62.5px);
    // background:rgb(143, 143, 230);
    position:relative;
    .section-strip {
        position:absolute;
        top:0;
        left:0;
        right:0;
    }
    .sect06-title {
        position: absolute;
        top:6%;
        left:5%;
        transform: rotate(-15deg);
        z-index: 8;
        h2 {
            color:rgb(187, 30, 30);
            background:rgb(255,255,255);
            padding:5px 10px;
            box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.8);
        }
    }
    .container {
        padding:40px 0;

                .manga {
                    // width:60%;
                    // min-height:75vh;
                    
                    margin:0 auto;
                    // padding:30px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // position: relative;
                    img {
                        max-height:calc(100vh - 80px);
                        display: flex;
                    align-items: center;
                    justify-content: center;
                    }
                }

        
    }
}

.sect07 {
    padding-bottom:10vh;
    // background:rgb(236, 213, 181);
    .section-strip {
        background: rgb(198,198,198);
        background: linear-gradient(0deg, #fdde83 0%, #ffecbf 100%);
        padding:20px 0;
        h2.no-background {
            position: relative;
            overflow: hidden;
            font-size:1.25em;
            span {
                display: inline-block;
                vertical-align: baseline;
                zoom: 1;
                *display: inline;
                *vertical-align: auto;
                position: relative;
                padding: 0 20px;
                color:#000;
        
                &:before, &:after {
                    content: '';
                    display: block;
                    width: 1000px;
                    position: absolute;
                    top: 0.73em;
                    border-top: 1px solid #000000;
                }
        
                &:before { right: 100%; }
                &:after { left: 100%; }
            }
        }
    }
    .container {
        .steps {
            display: flex;
            flex-wrap: wrap;
            .content {
                height: 100%;
                background:rgb(236, 213, 181);
                padding: 10px 15px 10px;
                color: #000000;
                position: relative;
                h2 {
                    position:absolute;
                    top:0;
                    right:5%;
                    color:#fff;
                    text-shadow: 1px 1px 3px rgb(12, 10, 0);
                    // background:rgba(12, 10, 0,0.8);
                }
                p {
                    padding:5px 10px;
                    // background:#fff;
                }
            }
            [class*="col-"] {
                margin-bottom: 30px;
            }
        }          
    }
}



.sect09 {
    background:rgb(170, 170, 170);
    #section09 {
        padding:12vh 0;
        background:#fff;
    }
    #section05-01 {
        text-align: center;
        margin:4vh auto;
        font-size: 2em;
    }
    .container {
        .section05-manga {
            .quote {
                display: flex;
                align-items: center;
                justify-content: center;
                .text {
                    background:rgba(122, 122, 122,0.7);
                    border-bottom:3px solid #545454;
                    p {
                        padding:20px;
                        color:#fff;
                        margin-bottom:0;
                        font-family: 'Klee One', cursive;
                    }
                }
                
            }
        }
        h4 {
            text-align: center;
            margin:4vh 0;
        }
        .text-area {
            display:none;
        }
        .link-to {
            position:relative;
            img {
                border-radius: 10px;
                box-shadow: 1px 3px 6px rgba(0,0,0,0.33);
            }
            &:hover > .text-area {
                display: block;
                background:rgba(122, 122, 122,0.33);
                position:absolute;
                top:0;
                left:0;
                height:100%;
                width:100%;
                border-radius: 10px;
                margin-top:auto;
                margin-bottom:auto;
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    color:#fff;
                }
            }
        }
        .reserve {
            margin:8vh auto;
        }
        
    }
    
}




.sect10 {
    background:$limited-light;
    .section-strip {
        background: rgb(198,198,198);
        background: linear-gradient(0deg, #fdde83 0%, #ffecbf 100%);;
        padding:20px 0;
        h2.no-background {
            position: relative;
            overflow: hidden;
            font-size:1.25em;
            span {
                display: inline-block;
                vertical-align: baseline;
                zoom: 1;
                *display: inline;
                *vertical-align: auto;
                position: relative;
                padding: 0 20px;
                color:#000;
        
                &:before, &:after {
                    content: '';
                    display: block;
                    width: 1000px;
                    position: absolute;
                    top: 0.73em;
                    border-top: 1px solid rgb(138,124,113);;
                }
        
                &:before { right: 100%; }
                &:after { left: 100%; }
            }
        }
    }
    .section10-01 {
        margin:5vh auto;
        text-align: center;
        h3 {
            line-height: 2em;
            font-family: 'Klee One', cursive;
        }
        .pics {
            width:75%;
            margin:0 auto;
        }
    }
    .to-link {
        margin-top:5vh;
        text-align: center;
        padding:5px 10px;
        // background:red;
        a {
            background: rgb(138,124,113);
            border-radius: 5px;
            background: linear-gradient(60deg, rgba(138,124,113,1) 0%, rgba(180,159,140,1) 100%);
            color:#fff;
            padding:10px 20px;
            font-size: 1.5em;
            &:hover {
                text-decoration: underline;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.66);
                background: rgb(228,226,224);
                background: linear-gradient(60deg, rgba(228,226,224,1) 0%, rgba(218,193,169,1) 100%);
            }
        }
    }
    .video-area {
        width:75%;
        margin:0 auto 3vh;
        video {
            width: 100% !important;
            height: auto !important;
        }
    }
}

footer {
    background:rgb(12, 10, 0); 
    padding:3vh 0;
    .container {
        text-align: center;
        color:#fff;
        p {
            margin-bottom:0;
        }
    }
}

@media screen and (max-width: 992px) {
    .sect02 {
        .container {
            width:100%;
            max-width: 992px;
            .text {
                width:100%;
            }
        }

    }
}